body {
	background-color:#1C1C1C;
	text-align:center;
	font-family:Myriad Pro Light;
	color: silver;
	background-size: cover;
	background-position: center top;
	background-repeat:no-repeat;
	overflow: hidden;
	--bg-fade-duration: 2s;
}

.bg-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity var(--bg-fade-duration) ease-out;
	will-change: opacity;
}

.bg-layer.is-active {
	opacity: 1;
}

#bg-a {
	background-image: url('img/8.png');
}
